.Chatform {
    display: flex;
    border-top: 2px solid #D3D3D3;
    width: 100%;
    padding:0;
}

.chatinput {
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 3%;
    width: 60%;
    font-size: 1.2em;
    
}

chatinput:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 100%);
    padding: 20px;
    display: inline-block;
    border: none;
    margin-left: 520px;
    width: 20%;
    border-radius: 0px 0px 15px 0px;
}